* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.container {
  background: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg"),
    #f0f2f5;
  min-height: 100vh;
}

.navbar {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.navbar h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.navbar .navbar-btn {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.main-section {
  min-height: 80vh;
  display: flex;
}

.left-section,
.right-section {
  min-width: 50vw;
  max-width: 50vw;
  min-height: 50vh;
}

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section h1 {
  font-size: 40px;
}

.left-section h2 {
  font-size: 32px;
}

.left-section button {
  font-size: 24px;
  border: 0;
  outline: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
  padding: 8px 14px;
  cursor: pointer;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section img {
  height: 400px;
  width: 700px;
}
